.profile-container {
    background-color: #f6f6f6; 
    border-radius: 0.375rem;
    color: #444; 
  }
  
  .profile-image {
    width: 6rem; 
    height: 6rem; 
    border-radius: 9999px;
    margin-top: 1.5rem;
  }
  
  .profile-name {
    font-size: 1.5rem; 
    line-height: 2rem; 
    font-weight: 700;
    margin-top: 1rem;
  }
  
  .profile-role {
    color: #e53e3e; 
    font-weight: 500;
  }
  
  .divider {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 48rem; 
    border-top-width: 5px;
    border-color: #0000001F
  }
  
  .current-job-title {
    font-size: 1.25rem; 
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .company-logo-container {
    margin-top: 1rem;
  }
  
  .company-logo {
    width: 8rem; 
    height: 8rem; 
  }
  
  .job-description {
    margin-top: 1rem;
    text-align: center;
  }
  
  .job-responsibilities {
    list-style-type: disc;
    margin-top: 1rem;
    text-align: center;
    list-style-type: none; 
    padding-bottom: 2rem; 
  }
  
 