<!-- main-section.component.html -->
<div class="profile-container flex flex-col items-center shadow-separator">
    <img class="profile-image w-24 h-24 rounded-full mt-6" src="assets/img/moi.jpeg" alt="Profile Picture">
    <h1 class="profile-name text-2xl font-bold mt-4">Anthony Vouin</h1>
    <p class="profile-role text-red-600 font-medium">Développeur web full stack </p>
    
    <hr class="divider my-6 w-full max-w-3xl border-t-2 border-gray-500">
    
    <h2 class="current-job-title text-xl font-semibold">Aujourd'hui </h2>
    <div class="company-logo-container mt-4">
      <img src="assets/img/ecole.png" alt="Frichti Logo" class="company-logo w-32 h-32">
    </div>
    
    <p class="job-description mt-4 text-center">
      <strong>Étudiant</strong> à <strong>l'eemi</strong> paris 2024
    </p>
    <ul class="job-responsibilities list-disc mt-4 text-center">
      <li>Développer de nouvelles fonctionnalités</li>
      <li>Participer à des projets techniques transversaux au sein du Front et du Back </li>
      <li>Collaborer avec d’autres développeurs</li>
    </ul>
</div>
  