<!-- main-section.component.html -->
<div class=" bg-blanc rounded flex flex-col items-center">
  <img class="profile-image w-24 h-24 rounded-full mt-6" src="assets/img/moi2.jpg" alt="Profile Picture">
  <h1 class="text-color  text-2xl font-bold mt-4 card-heading">Anthony Vouin</h1>
  <p class="profile-role text-red-600 font-medium">Développeur web full stack</p>

  <hr class="divider my-6 w-full max-w-3xl border-t-2 border-gray-500">

  <h2 class="text-color current-job-title text-xl font-semibold">Aujourd'hui</h2>
  <div class="company-logo-container mt-4">
    <img src="assets/img/ecole.png" alt="Frichti Logo" class="company-logo w-32 h-32">
  </div>

  <p class="text-color job-description  text-center card-paragraph">
    <strong>Étudiant</strong> à <strong>l'eemi</strong> paris 2024
  </p>
  <ul class="text-color job-responsibilities mb-4 mt-4 text-center card-paragraph">
    <li>Développer de nouvelles fonctionnalités</li>
    <li>Participer à des projets techniques </li>
    <li>Collaborer avec d’autres développeurs</li>
  </ul>
</div>
