<section class="bg-blanc py-16">
    <div class="container mx-auto px-4">
  
      <h2 class="text-3xl text-color font-bold mb-2 text-center">Formations</h2>
      <p class="text-red-600 font-medium text-center">Ce que j'ai appris</p>
  

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 mb-8 mt-8 text-color">
        <div class="flex flex-col items-center justify-center mb-12">
          <div class="mb-8">
            <img src="assets/img/logo-eemi.svg" class="w-48 h-auto" alt="Logo EEMI">
          </div>
          <div class="text-center">
            <h3 class="text-lg font-bold mb-4">L'Ecole Européenne des Métiers de l'Internet (EEMI)</h3>
            <p class="mb-4 text-red-600 font-medium ">Mastѐre CTO/TL Bac +5 2023-2025</p>
           
            <p class="mb-4">Devops</p>
            <p class="mb-4">CyberSécu</p>
            <p class="mb-4">TechLead</p>
            <button onclick="window.open(`https://www.eemi.com/`, '_blank')" class="bg-button text-button px-4 py-2 rounded border border-red">Lien du site de l'école</button>
          </div>
        </div>
  
        <div class="flex flex-col items-center justify-center mb-12">
          <div class="mb-8">
            <img src="assets/img/nws.svg" class="w-48 h-auto" alt="Logo Normandie Web School">
          </div>
          <div class="text-center">
            <h3 class="text-lg font-bold mb-4">Normandie Web School</h3>
            <p class="mb-4 text-red-600 font-medium ">Bachelor bac + 3 2020 - 2023</p>
           
            <p class="mb-4">Développement web et mobile</p>
            <p class="mb-4">Développement FullStack</p>

            <p class="mb-4">Chéfferie de projet</p>
            <button onclick="window.open(`https://normandiewebschool.fr/`, '_blank')" class="bg-button text-button px-4 py-2 rounded border border-red">Lien du site de l'école</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  