<section class="bg-blanc text-center py-16 text-color bg-blanc">
  <div class="container mx-auto">

  <h2 class="text-3xl font-bold mb-2">Formations </h2>
  <p class="text-red-600 font-medium">Ce que j'ai appris</p>

  <div class="mt-8">
     <div class="divider w-full"><span class="text-center">2020-2023</span></div> 

          <div class="container mx-auto flex items-center">

            

              <div class="w-1/2">
                  <img src="assets/img/nws.jpg" class="w-full">
              </div>
              
              <div class="w-1/2">
                
                  <div class="8 ">
                      <h3 class="text-lg font-bold">Normandie Web School</h3>
                      <div class=" mx-auto max-w-prose">
                        <p class="text-lg ">Chef de projet digital</p>
                        <p>Spécialisation développement web et mobile.</p>
                        
                      </div>
                  </div>
                  <button  onclick="window.open(`https://normandiewebschool.fr/`, '_blank')"  class="bg-button text-button px-4 py-2 rounded border border-red">Lien du site de l'école</button>
              </div>
          </div>
      </div>
    </div>


</section>