<!-- header.component.html -->
<header class="bg-blanc">
  <div class="container mx-auto py-4">
    <!-- Main navigation -->
    <nav class="flex justify-center space-x-8">
      <a href="#" class="text-color ">Accueil</a>
      <a href="/competences" class="text-color ">Compétences</a>
      <a href="#" class="text-color ">Réalisations</a>
      <a href="/formations" class="text-color ">Formations</a>
      <a href="#" class="text-color ">Blog</a>
      <a href="/contact" class="text-color ">Contact</a>
    </nav>
  </div>
</header>

<!-- Main section -->
<div class="bg-gris text-center py-16">
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold mb-4 text-headline text-color">Besoin d'un développeur web ?</h1>
    <p class="text-lg mb-6 text-paragraph">
      Disponible pour vous aider dans l'élaboration de votre projet, je vous invite à consulter ci-dessous l'ensemble de mes références pour mieux connaître mon profil.
    </p>
    <div class="flex justify-center space-x-4">
      <button class="bg-button text-color px-4 py-2 rounded flex items-center">
        <span class="material-icons mr-2">cloud_download</span>
        Télécharger mon CV
      </button>
      <button class="bg-button text-color px-4 py-2 rounded flex items-center">
        <span class="material-icons mr-2">person_add</span>
        Me suivre sur LinkedIn
      </button>
    </div>
  </div>
</div>

