<!-- header.component.html -->
<header class="bg-gray-800 py-4">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <a href="#" class="text-white text-xl font-semibold ml-4">Mon Application</a>
      <nav class="space-x-4 mr-4">
        <a href="#" class="text-white hover:underline">Accueil</a>
        <a href="/register" class="text-white hover:underline">Isncription</a>
        <a href="/login" class="text-white hover:underline">Connexion</a>
      </nav>
    </div>
  </header>
  