.skills-container {
  max-width: 1200px;
  margin: 0 auto;
}



.divider {
  position: relative;
  margin: 1.5rem auto; 
  width: calc(100% - 40px); 
  max-width: 600px; 
  border-top: 5px solid #0000001F;
  text-align: center; 
}


.divider span {
  position: absolute;
  top: -0.9rem; 
  left: 50%;
  transform: translateX(-50%);
  background: #fffffe;
  padding: 0 1rem;
  font-weight: bold;
}



.lg\:grid-cols-4 {
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.mb-8 {
  margin-bottom: 1.5rem; 
}

.mt-8 {
  margin-top: 2.5rem; 
}
