<section class="bg-light-gray text-center py-16 text-dark-gray shadow-separator">
    <div class="skills-container mx-auto">
      <h2 class="text-3xl font-bold mb-2">Compétences</h2>
      <p class="text-red-500 mb-6 italic">Qu'est-ce que je peux faire</p>

  
      <div class="mb-8 mt-8">
        <div class="divider w-full"><span class="text-center">Langages</span></div> <!-- Ajout de la classe text-center ici -->

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
          <div class="text-center">
            <img src="assets/img/html-logo.webp" alt="HTML" class="mx-auto mb-2">
            <p class="font-bold">HTML</p>
            <p>4 ans d'éxperiences</p>
          </div>
          <div class="text-center">
            <img src="assets/img/css-logo.webp" alt="CSS" class="mx-auto mb-2">
            <p class="font-bold">CSS</p>
            <p>4 ans d'éxperiences</p>
        
          </div>
          <div class="text-center">
            <img src="assets/img/js-logo.webp" alt="JavaScript" class="mx-auto mb-2">
            <p class="font-bold">JS</p>
            <p>4 ans d'éxperiences</p>
          </div>
          <div class="text-center">
            <img src="assets/img/ts-logo.webp" alt="TypeScript" class="mx-auto mb-2">
            <p class="font-bold">TS</p>
            <p>1 ans d'éxperiences</p>
          </div>
          <div class="text-center">
            <img src="assets/img/ts-logo.webp" alt="TypeScript" class="mx-auto mb-2">
            <p class="font-bold">PHP</p>
            <p>4 ans d'éxperiences</p>
          </div>
        </div>

        </div>


        
      <div class="mb-8 mt-8">
        <div class="divider w-full"><span class="text-center">Framework </span></div> <!-- Ajout de la classe text-center ici -->

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
          <div class="text-center">
            <img src="assets/img/html-logo.webp" alt="HTML" class="mx-auto mb-2">
            <p class="font-bold">Laravel</p>
            <p>4 ans d'éxperiences</p>
          </div>
          <div class="text-center">
            <img src="assets/img/css-logo.webp" alt="CSS" class="mx-auto mb-2">
            <p class="font-bold">Symfony</p>
            <p>4 ans d'éxperiences</p>
        
          </div>
          <div class="text-center">
            <img src="assets/img/js-logo.webp" alt="JavaScript" class="mx-auto mb-2">
            <p class="font-bold">Node</p>
            <p>4 ans d'éxperiences</p>
          </div>
          <div class="text-center">
            <img src="assets/img/ts-logo.webp" alt="TypeScript" class="mx-auto mb-2">
            <p class="font-bold">Angular </p>
            <p>1 ans d'éxperiences</p>
          </div>
         
        </div>

        </div>

        

    </div>

  </section>
  